
<div class="container border border-primary mt-5 p-3 fs-5 text fw-bold">
    <%= simple_form_for  @list do |form|  %>
      <%= form.input :genere, required: true %>
      <%= form.button :submit, "Save", class: "btn btn-outline-success my-3 fs-6 fw-bold" %>
    <% end %>
</div>


