<nav class="navbar navbar-expand-lg navbar-dark bg-danger sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand " href="#">TheMovieLister</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Our Lists
          </a>
          <ul class="dropdown-menu"     aria-labelledby="navbarDropdown">
            <% @lists.each do  |list| %>
            <li> 
               <a > <%= link_to "#{list.genere}", list_path(list.id),  class: "dropdown-item text-primary" %> </a>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="banner" >
  <h2>Change your life, watch a movie</h2>

</div>

<div class="container">
  <br>
  <h3>Choose from our list of Genres</h3>
  <br>
    <div class="list-group ">
      <% @lists.each do  |list| %>
        <a > <%= link_to "#{list.genere}", list_path(list.id), class: "list-group-item fs-6 fw-bold text-info" %> </a>
      <% end %>
    </div>
  <br>
  <br>
  <a > <%= link_to "Add a new Genere", new_list_path, class: "btn   btn-outline-success fs-6 fw-bold  border-3", role: "button"%> </a>
  <br>
  <br>
</div>

<footer>
</footer>