.banner{ 
  color: white;
  background-image: url("../images/curtain.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 250px 0;
}